@import 'tailwindcss';
@import './prism.css';
@import url('https://use.typekit.net/lvt5ixy.css');

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 2rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2.5rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.5rem;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 3rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --font-sans: var(--font-inter);
  --font-display: var(--font-lexend);
  --font-display--font-feature-settings: 'ss01';

  --container-8xl: 88rem;
}

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

.bg-topo {
  background-image: url('../images/Topo-BG.jpg');
}

.cls-1 {
  stroke-dasharray: 7.5 2.5;
  @apply fill-stone-900;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  stroke: #deb553;
}

.cls-1,
.cls-2,
.cls-5 {
  @apply stroke-stone-200;
}

.cls-3 {
  @apply fill-zinc-800 stroke-zinc-800;
}
.cls-1,
.cls-5 {
  fill: none;
  stroke-width: 2.5px;
}

.cls-6 {
  stroke: #fff;
}

.cls-6,
.cls-7 {
  stroke-miterlimit: 10;
}

.cls-4 {
  fill: #deb553;
}
.cls-6 {
  fill: #fff;
}

.cls-8 {
  @apply fill-amber-400;
  font-family: 'Oswald';
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
}

.cls-7 {
  fill: #616162;
  stroke: #000;
}

.cls-9 {
  letter-spacing: 0em;
}

.cls-10 {
  letter-spacing: -0.01em;
}

.cls-2 {
  stroke-width: 1px;
}

.cls-3,
.cls-4 {
  fill-rule: evenodd;
}

.cls-11 {
  font-family: 'Bebas Neue';
  font-size: 36px;
  @apply fill-stone-100;
}

.cls-4 {
  stroke-width: 1.88px;
}
